VITE_SUPABASE_URL=https://qrucpkruypyopttuvugq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_TqS8YbJYt4ozAcrenxVcPA_1ynVE-mI

SUPABASE_URL=https://qrucpkruypyopttuvugq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_-VMbHpfLz7P6T7T0076ksg_s3XcEBmp